@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f8;
  --foreground: #1a1a1a;
  --primary: #8c2bee;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  /* 가로 스크롤 시 스크롤바 숨김 */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-balance {
    text-wrap: balance;
  }
}
